* {
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family:Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
}

#container {
    width: 960px;
    margin: 0 auto;
    background: #fff url(imagens/coluna.png) repeat-y left top;
    min-width: 820px;
    max-width: 1280px;
}

#marca {
    width: 100%;
    height:300px;
    background: #225992 url(imagens/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 300px;
}



#conteudo {
    width: 70%;
    float: right;
}

/*#imagem{
    width: 90%;
    overflow: hidden;
}
*/

#conteudo-principal {
    width: 64%;
    float: left;
    padding: 10px;
}

img.img-noticia {
    width: 90%;
    padding: 2%;
    max-width: 600px;
}

#conteudo-secundario {
    width: 36%;
    float: right;
    background: #f16101;
}

#navegacao {
    width: 30%;
    float: left;
    padding: 20px 10px;
    
}

#navegacao ul{
    list-style: none;
}

#navegacao li a {
    text-decoration: none;
}

 
#rodape {
    clear: both;
    background: #ec03d9;
    padding: 5px;
}

@media (max-width: 768px) {
    #container {
        width: 95%;
    }
    
    #conteudo {
        width: 100%;
        float: none;
    }
    
    #conteudo-principal {
        width: 100%;
        float: none;
    }
    
    #conteudo-secundario {
        width: 100%;
        float: none;
    }
    
    #navegacao {
        width: 100%;
        float: none;
    }
}