*{
    margin: 0;
    padding: 0;
    
}

body {
    font-size:1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

#area-cabecalho {
    background-color: #f7b600;
    color: white;
    text-align: center;
    padding: 15px;
}

#area-logo, #area-menu {
    padding: 10px;
}

#area-principal {
    background: white;
    width: 920px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    justify-content: center;
}

#area-postagem, #area-lateral {
    background: orange;
}

#area-postagem {
    width: 660px;
    float: left;
}

#area-lateral {
    width: 240px;
    float: right;
    
}

.postagem{
    
}
#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #CCC;
    
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: white;
    padding: 8px 12px;
    font-weight: bold;
}

a:hover{
    color: #f7b600;
    background-color: white;
}
h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco {
    color: white;
}