body {
    background-color: rgb(5, 137, 245);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;
    padding: 15px;
    border: 1px solid black;
}

