#caixa {
    width: 300px;
    height: 300px;
    background: linear-gradient(to right, #26F04A, #F001BE);
    box-shadow: 20px 200px 2px 10px black;
}

#caixa h1 {
    background: rgba(205, 92, 92, 0.35);
    color: white;
    text-shadow: 20px 20px 5px rgba(0,0,0,0.6);

}

/*
#caixa {
    width: 300px;
    height: 300px;
    background: #b9c941;
    padding: 10px;
    margin: 10px;
    border: 2px solid #000;
    border-radius: 10px 50px 80px 100px;
}

.boll {
    border-radius: 150px ;
} */

